---
layout: default
---
<div class="mt-16 sm:px-8 sm:mt-32">
  <div class="mx-auto max-w-7xl lg:px-8">
    <div class="relative px-4 sm:px-8 lg:px-12">
      <div class="max-w-2xl mx-auto lg:max-w-5xl">
        <header class="max-w-2xl">
          <h1 class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl">Writing on
            software design, company building, and the aerospace industry.</h1>
          <p class="mt-6 text-base text-zinc-600 dark:text-zinc-400">All of my long-form thoughts on
            programming, leadership, product design, and more, collected in chronological order.</p>
          <div class="hidden">
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text- rounded-full">grey</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-red-700 bg-red-100 rounded-full">red</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-yellow-800 bg-yellow-100 rounded-full">yellow</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-green-700 bg-green-100 rounded-full">green</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-blue-700 bg-blue-100 rounded-full">blue</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-teal-600 bg-teal-100 rounded-full">default</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-indigo-700 bg-indigo-100 rounded-full">indigo</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-purple-700 bg-purple-100 rounded-full">purple</a>
            <a href="#" class="inline-flex items-center px-2 py-1 text-xs font-medium text-pink-700 bg-pink-100 rounded-full">pink</a>
          </div>
        </header>
        <div class="mt-16 sm:mt-20">
          <div class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
            <div class="flex flex-col max-w-3xl space-y-16">
              <% collections.posts.resources.each do |post| %>                
                <%= render ArticleCard.new(article: post) %>                
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>