---
layout: page
title: Career Experiences
---
<% site.data.jobs.companies.each do |company| %>
    <section aria-label="<%= company.name %>" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
        <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
            <h2 id="<%= company.name %>" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">                
                <%= render JobListItem.new(company: company) %>
            </h2>
            <div class="md:col-span-3">
                <div class="space-y-16">
                    <% company.roles.each do |role| %>
                        <%= render RoleCard.new(role: role, company: company) %>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
<% end %>