---
layout: page
title: Consulting Services
---

<% site.data.services.each do |service_type| %>
    <section aria-label="<%= service_type.first.capitalize %>" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
        <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
            <h2 id="<%= service_type.first %>" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                <%= service_type.first.capitalize %>
            </h2>
        </div>
        <div class="mt-16 sm:mt-20">
            <ul role="list" class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3">
                <% service_type.last.each do |service| %>
                    <%= render ProjectCard.new(project: service, project_type: 'service') %>
                <% end %>
            </ul>
        </div>
    </section>
<% end %>