---
layout: page
title: I’ve spoken at a number of events and open to podcast interviews.
description: Speaking gets me out of my comfort zone and into the spotlight to engage and share with the community. I'm working to create more written, visual, and audio content to ensure information is accessibile for everyone regardless of their learning styles.
---
<% site.data.appearances.each do |appearance_type| %>
    <section aria-label="<%= appearance_type.first.capitalize %>" class="md:border-l md:border-zinc-100 md:pl-6 md:dark:border-zinc-700/40">
        <div class="grid max-w-3xl grid-cols-1 items-baseline gap-y-8 md:grid-cols-4">
            <h2 id="<%= appearance_type.first %>" class="text-sm font-semibold text-zinc-800 dark:text-zinc-100">
                <%= appearance_type.first.capitalize %>
            </h2>
            <div class="md:col-span-3">
                <div class="space-y-16">
                    <% appearance_type.last.each do |appearance| %>
                        <%= render AppearanceCard.new(appearance: appearance) %>
                    <% end %>
                </div>
            </div>
        </div>
    </section>
<% end %>