<footer>
  Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
  <%= markdownify do %>
    # Justin Bowen is TonsOfFun 
    ## (TonsOfFun111 in most places)
    - [Bitbucket.org/tonsoffun](Bitbucket.org/tonsoffun)
    - [Instagram.com/tonsoffun111](Instagram.com/tonsoffun111)
    - [GitHub.com/tonsoffun](GitHub.com/tonsoffun)
    - [GitLab.com/tonsoffun](GitLab.com/tonsoffun)
    - [LinkedIn.com/in/tonsoffun111](LinkedIn.com/in/tonsoffun111)
    - [Twitch.tv/tonsoffun111](Twitch.tv/tonsoffun111)
    - [Twitter.com/tonsoffun111](Twitter.com/tonsoffun111)
  <% end %>
</footer>
