<% site.data.links.social.each do |social| %>
    <%= render IconLink.new(href: social.url, alt: social.label, classes: "group -m-1 p-1", hover: "") do |icon_link| %>
        <% icon_link.icon do %>
            <%= svg "/images/icons/social/#{social.title}.svg", class: "h-6 w-6 fill-zinc-500 transition group-hover:fill-zinc-600 dark:fill-zinc-400 dark:group-hover:fill-zinc-300", "aria-hidden": true %>            
        <% end %>

        <% icon_link.label do %>
            <span class="sr-only"><%= social.label %></span>
        <% end %>
    <% end %>
<% end %>