<div>
  <% @tags.each do |object_tag| %>
    <%= link_to(object_tag, "/tags/#{object_tag.downcase}", {class: (@tag_styles[object_tag.downcase] ? @tag_styles[object_tag.downcase] : @tag_styles['default'])}) %>
  <% end %> 
</div>